*
{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #111111;
}
.navbar{
    background-color: #111111;
    width: 1536px;
    height: 68px;
}
.navbar img
{
    height: 35px;
    width: 84px;
    margin-left: 25px;
}
.navbar li
{ 
    color: rgb(251, 251, 251);
    display: inline;
    margin-left: 17px;
}


.navbar ul{
    margin-right: 810px;
    margin-top: 10px;
}
.navbar #browse 
{
    margin-right: 1300px;
}


.navbar #browse .dropdown-menu li
{
    opacity: 1;
    display: inline-block;
    width: 305px;
    margin-right: 5px;
    padding: 10px;
    margin-left: 5px;


}
.navbar #browse .dropdown .dropdown-menu 
{
    background-color: #111111;
    opacity: 0.8;
    border-top: 1px solid white;
    margin-top: 45px;
    margin-left: -70px;
}

.navbar #browse .dropdown-menu li:hover
{
    /* background-color: #cc0e0e; */
    background-color: #202020;
}



@media screen and (max-width:885px) 
{
    .navbar ul
    {
        display: none;

    }
    .navbar #browse 
    {
        display: block;
    } 
}

@media screen and (min-width:885px) 
{
    .navbar ul
    {
        display: block;

    }
    .navbar #browse
    {
        display: none;
    } 
}

